#chattigo-webchat-container
    z-index: 10
    position: fixed
    overflow: visible
    bottom: 10px
    right: 10px
    #chattigo-widget
        position: fixed
        bottom: 10px
        right: 10px
        &.collapsed
            width: 50px
            height: 50px
            border-radius: 50px
            font-size: 2em
            font-weight: bold
            text-align: center
            vertical-align: middle
            border: none
        &.expanded
            width: 500px
            height: 500px
        .chattigo-top-bar-btn
            position: relative
            float: right
            top: -5px
        .chattigo-toggle-collapse
            right: -15px
        .chattigo-logout
            right: -20px
        #chattigo-message-form
            position: relative
            #formControlsTextarea
                width: 100%
            div
                width: 70%
                margin-right: 1%
            button
                margin-left: 1%
                width: 28%
        #chattigo-message-list
            overflow-y: auto
            background-size: 20%
            background-image: url('../images/chattigo_background_overlay.png')
            .mCSB_inside > .mCSB_container
                margin-right: 10px;
            .chattigo-message-container
                overflow: hidden
                margin: 5% 0
                .chattigo-message
                    width: 100%
                    border-radius: 5px
                    &.chattigo-message-from-agent
                        background-color: #FFFFFF
                        float: left
                    &.chattigo-message-from-customer
                        background-color: #DCF8C6
                        float: right
                    .chattigo-message-header
                        font-size: 0.8em
                        margin: 0
                        overflow: hidden
                        .chattigo-message-author
                            width: 50%
                            margin: 2% 0 0 4%
                            float: left
                            text-align: left
                            font-weight: bold
                            color: #000000
                        .chattigo-message-timestamp
                            font-size: 0.75em
                            width: 40%;
                            margin: 2% 4% 0 0
                            float: right
                            text-align: right
                            color: #CBC9C9
                    .chattigo-message-content
                        display: block
                        margin: 5%
                        text-align: left
